.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-drawer.mat-drawer-side {
    background-color: #2f99c1;
    width: 215px;
}

.mat-icon {
    font-size: 30px !important;
}